<div class="login-page">
  <div class="login-background"></div>

  <div class="login-container">
    <form (ngSubmit)="onLogin()" #loginForm="ngForm">
      <h2>Login</h2>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="email"
          required
          placeholder="Enter email"
        />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="password"
          required
          placeholder="Enter password"
        />
      </div>

      <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>

      <button type="submit">Login</button>

      <h4>Don’t have an account?</h4>
      <button type="button" class="secondary-btn" (click)="goToCreateAccount()">
        Create an account
      </button>
    </form>
  </div>
</div>
